body {
	background: $color;
}

.menu {
	border-bottom: 2px solid $color;
}

.menu>ul>li>div>ul {
	margin-top: 1px;
	border-bottom: 2px solid $color;
	border-left: 2px solid $color;
	border-right: 2px solid $color;
	z-index: -500;
}
